.cart-container {
    min-height: 100vh;
}
.cart-table tbody tr td {
    color: #b5b3b3;
}
.image-column {
    width: 150px !important;
}
.action-column {
    width: 80px !important;
}
.items-column {
    min-width: none;
}
.cart-content{
    justify-content: center;
}

@media screen and (max-width: 480px) {
    .image-column {
        min-width: 150px !important;
    }
    .items-column {
        min-width: 150px;
    }
    .text-heading {
        font-size: 1rem !important;
    }
    .text-subheading {
        font-size: 1rem !important;
    }
    .cart-content {
        justify-content: center !important;
        margin-block: 8px !important;
    }
}


@media (min-width: 768px) and (max-width: 820px) {
    .image-column {
        min-width: 150px !important;
    }
    .items-column {
        min-width: 150px;
    }
    .cart-detail {
        font-size: 0.7rem !important;
        margin-bottom: 0px;
    }
    .cart-content{
        padding-left: 2px !important;
        padding-right: 2px !important;
    }
}