.register form {
    margin-top: 50px;
}
.register-form {
    width: 50vw;
}
.btn-back-login {
    margin-bottom: 50px !important;
}

.register-form .input-gold, .PhoneInput .PhoneInputInput {
    border-bottom: 2px solid #b5b3b3 !important;
    color: #b5b3b3 !important;
    font-weight: bold;
}
.PhoneInput .PhoneInputInput {
    border: none;
}

@media screen and (max-width: 480px) {
    .register-form {
        width: 100vw;
    }
}